---
import List from "../components/list.astro";
import Layout from "../layouts/template.astro";
import Map from "../components/map/map.astro";
---

<Layout title="Home">
  <section class="section">
    <div class="columns">
      <div class="column is-one-quarter-fullhd is-hidden-mobile">
        <List />
      </div>
      <div class="column">
        <Map />
      </div>
    </div>
  </section>
</Layout>
