---
import { marked } from "marked";
import { replaceValue } from "../services/formats";

interface Props {
  iconClass: string;
  title: string;
  text: string;
  value: number | undefined;
}

const { iconClass, title, text, value } = Astro.props;
---

<div class="block">
  <div class="icon-text">
    <span class="icon has-text">
      <i class={iconClass}></i>
    </span>
    <span class="has-text-weight-bold"> {title}</span>
  </div>
  <p set:html={marked.parse(replaceValue(text, value))} />
</div>
