---
import { getEntry } from "astro:content";
import Feature from "./feature.astro";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const entry = await getEntry("places", slug);
const { featuresPlace } = entry?.data ?? {};
---

<div class="content is-medium">
  <p>La instalacion posee:</p>
  {
    featuresPlace?.map(async (featurePlace) => {
      const { feature, value } = featurePlace ?? {};
      const {
        data: { iconCss, title },
        body,
      } = await getEntry(feature?.collection, feature?.slug);
      return (
        <Feature iconClass={iconCss} value={value} title={title} text={body} />
      );
    })
  }
</div>
