---
interface Props {
  iconClass: string;
  title: string;
  text: string;
  value?: number | boolean;
}

const { iconClass, value, title, text } = Astro.props;
const isNumeric = !isNaN(Number(value?.toString()));
---

{
  (value != null && isNumeric) || value === true ? (
    <>
      <div class="icon-text">
        <span class="icon has-text">
          <i class={iconClass} />
        </span>
        <span class="has-text-weight-bold"> {title}</span>
      </div>
      <p class="block" set:html={text} />
    </>
  ) : (
    ""
  )
}
