---
interface Props {
  iconClass: string;
  value?: number | boolean;
}

const { iconClass, value } = Astro.props;
const isNumeric = !isNaN(Number(value?.toString()));
---

{
  (value != null && isNumeric) || value === true ? (
    <div class="is-inline-flex is-align-items-center has-text-primary">
      {isNumeric ? <span>{value}</span> : ""}
      <span class="icon is-medium">
        <i class={`${iconClass} fa-xl`} />
      </span>
    </div>
  ) : (
    ""
  )
}

<style>
  div {
    margin: 0 0.25rem;
  }
</style>
