---
import { getCollection } from "astro:content";
import Card from "./card.astro";

const places = await getCollection("places");
---

<div class="scrollable columns is-flex-direction-column">
  {
    places.map((place, index) => {
      return (
        <div class="column">
          <Card place={place} position={index + 1} />
        </div>
      );
    })
  }
</div>

<style>
  .scrollable {
    overflow-y: scroll;
    height: 85vh;
  }
</style>
