---
interface Props {
  phone: number;
}

const { phone } = Astro.props;
---

<a class="has-text-info" href=`tel:${phone}`>
  <span class="icon">
    <i class="fa-solid fa-phone"></i>
  </span>
  {phone}
</a>
